h1 {
    text-align: center;
}

.full_vertical_height{
    height: 90vh;
}

.fill_all_height{
    height: 100%;
}

.sidebar_header{
    color: red;
}

html{
    height: 100%;
}

.warning{
    background-color: sandybrown;
}